@font-face {
  font-family: "Slabo 27px";
  font-weight: 400;
  font-style: normal;
  src: url(../assets/Slabo27px-Regular.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: url(../assets/OpenSans-Light.ttf);
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../assets/OpenSans-Regular.ttf);
}
article,
footer,
header,
aside,
nav,
main,
section {
  display: block;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  flex-shrink: 0;
}
html,
body {
  height: 100%;
}
nav.main-menu {
  background-color: #2c3e50;
  color: #fff;
  font-size: medium;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  width: 100%;
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
}
nav.main-menu ul.top-menu > li:hover,
nav.main-menu .top-menu a:hover,
nav.main-menu .top-menu a:focus,
nav.main-menu .sub-menu li {
  background-color: #7f8c8d;
}
nav.main-menu .sub-menu li a:hover {
  background-color: #95a5a6;
}
nav.main-menu ul.top-menu > li.green:hover,
nav.main-menu .top-menu .green a:hover,
nav.main-menu .top-menu .green a:focus,
nav.main-menu .green .sub-menu li {
  background-color: #27ae60;
}
nav.main-menu .green .sub-menu li a:hover {
  background-color: #2ecc71;
}
nav.main-menu ul.top-menu > li.red:hover,
nav.main-menu .top-menu .red a:hover,
nav.main-menu .top-menu .red a:focus,
nav.main-menu .red .sub-menu li {
  background-color: #c0392b;
}
nav.main-menu .red .sub-menu li a:hover {
  background-color: #e64937;
}
nav.main-menu ul.top-menu > li.orange:hover,
nav.main-menu .top-menu .orange a:hover,
nav.main-menu .top-menu .orange a:focus,
nav.main-menu .orange .sub-menu li {
  background-color: #f39c12;
  color: #000;
  text-shadow: none;
}
nav.main-menu .orange .sub-menu li a:hover {
  background-color: #f1c40f;
}
nav.main-menu ul.top-menu > li.blue:hover,
nav.main-menu .top-menu .blue a:hover,
nav.main-menu .top-menu .blue a:focus,
nav.main-menu .blue .sub-menu li {
  background-color: #2980b9;
}
nav.main-menu .blue .sub-menu li a:hover {
  background-color: #3498db;
}
nav.main-menu > div {
  width: 960px;
}
nav.main-menu a {
  text-decoration: none;
  color: inherit;
}
nav.main-menu ul.top-menu {
  list-style: none url();
  display: flex;
  flex-wrap: wrap;
}
nav.main-menu ul.top-menu > li {
  position: relative;
  transition: all 0.2s;
  display: flex;
}
nav.main-menu ul.top-menu a {
  width: 240px;
  min-height: 35px;
  z-index: 3;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
nav.main-menu ul.top-menu ul.sub-menu {
  display: none;
  position: absolute;
  left: 0;
  z-index: 5;
  transition: opacity 0.2s;
  top: 100%;
  cursor: default;
}
nav.main-menu ul.top-menu ul.sub-menu > li {
  list-style: none;
  display: flex;
}
nav.main-menu ul.top-menu ul.sub-menu > li:hover {
  color: #000;
  text-shadow: none;
}
@media only screen and (min-width: 960px) {
  nav.main-menu ul.top-menu li:hover ul,
  nav.main-menu ul.top-menu li:focus ul {
    display: block;
  }
  nav.main-menu ul.top-menu > li.tap {
    background-color: inherit;
  }
}
@media only screen and (max-width: 959px) {
  nav.main-menu {
    background-color: #2c3e50;
    height: auto;
  }
  nav.main-menu > div {
    width: 100%;
  }
  nav.main-menu ul.top-menu a {
    width: 100%;
    overflow: hidden;
    z-index: 10;
  }
  nav.main-menu ul.top-menu > li {
    width: 25%;
    height: auto;
    cursor: pointer;
    background-color: #2c3e50;
    justify-content: center;
    align-items: center;
    position: unset;
  }
  nav.main-menu ul.top-menu > li ul li {
    list-style: none;
    float: right;
    width: 100%;
  }
  nav.main-menu ul.top-menu li.tap {
    background-color: #7f8c8d;
  }
  nav.main-menu ul.top-menu li.tap.green {
    background-color: #27ae60;
  }
  nav.main-menu ul.top-menu li.tap.red {
    background-color: #c0392b;
  }
  nav.main-menu ul.top-menu li.tap.orange {
    background-color: #f39c12;
  }
  nav.main-menu ul.top-menu li.tap.blue {
    background-color: #2980b9;
  }
  nav.main-menu ul.top-menu li.tap ul {
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: -1;
    width: 100%;
    background-color: #7f8c8d96;
  }
  nav.main-menu ul.top-menu li.tap ul::after {
    content: "";
    height: 100%;
    display: block;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: -1;
    background-color: #000000ad;
    height: 100%;
  }
}
nav.navbar-menu {
  background-color: #bdc3c7;
  font-family: "Open Sans", sans-serif;
  font-size: medium;
  font-weight: 300;
  box-shadow: 0px 4px #95a5a6, 0px 4px #95a5a6 inset;
}
nav.navbar-menu ul {
  display: flex;
  flex-wrap: wrap;
}
nav.navbar-menu ul > li {
  list-style: none;
  display: flex;
}
nav.navbar-menu a {
  height: 35px;
  min-width: 12%;
  padding: 0px 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-decoration: none;
}
nav.navbar-menu a:hover,
nav.navbar-menu a:focus {
  background-color: #f1c40f;
}
nav.navbar-menu.online-edu li {
  width: calc(100% / 9);
  min-width: 60px;
}
nav.navbar-menu.online-edu li a {
  width: 100%;
  padding: 0;
}
nav.navbar-menu.blue {
  background-color: #3498db;
  box-shadow: 0px 4px #95a5a6, 0px 4px #2980b9 inset;
}
nav.navbar-menu.green {
  background-color: #27ae60;
  box-shadow: 0px 4px #95a5a6, 0px 4px #1e8549 inset;
}
nav.navbar-menu.red {
  background-color: #e64937;
  box-shadow: 0px 4px #95a5a6, 0px 4px #c0392b inset;
}
nav.next-previous-posts {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: #2c3e50;
}
nav.next-previous-posts > * {
  font-size: medium;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ecf0f1;
  text-decoration: none;
}
nav.next-previous-posts a:hover {
  color: #ecf0f1;
  background-color: #34495e;
  text-decoration: underline;
}
nav.next-previous-posts span.current {
  color: #34495e;
  background-color: #ecf0f1;
}
main.content article {
  margin: 10px 0 0 0;
  max-height: 160px;
  overflow: hidden;
  display: flex;
}
main.content article:first-of-type {
  margin: 0;
}
main.content article img {
  width: 160px;
  height: 160px;
}
main.content article .article-content-container {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}
main.content article header {
  padding: 10px;
  background-color: #95a5a6;
}
main.content article header h1 {
  font-size: 1.5rem;
  font-family: "Slabo 27px", serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
main.content article header h2 {
  font-size: 0.75rem;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
  font-weight: 400;
  white-space: nowrap;
}
main.content article header h1 a {
  text-decoration: none;
  color: inherit;
}
main.content article header h1 a:hover {
  text-decoration: underline;
}
main.content article header h2 a {
  color: inherit;
}
main.content article header h2 a:hover {
  color: inherit;
  text-decoration: none;
}
main.content article header ul,
main.content article header li {
  list-style: none url();
  display: inline-block;
}
main.content article header.main-zs,
main.content article header.green {
  background-color: #27ae60;
}
main.content article header.main-ms,
main.content article header.red {
  background-color: #e64937;
}
main.content article header.main-sd,
main.content article header.orange {
  background-color: #f39c12;
  color: #000;
  text-shadow: none;
}
main.content article header.main-skola,
main.content article header.blue {
  background-color: #3498db;
}
main.content article .text-clanek {
  padding: 10px 15px 10px;
  background-color: #bdc3c7;
  box-shadow: 0px 4px #7f8c8d inset;
  margin-left: 10px;
  margin-right: 5px;
}
main.content article .text-clanek.text-clanek-height-160 {
  height: 85px;
}
main.content article .text-clanek ol,
main.content article .text-clanek ul {
  margin: 0 0 10px 40px;
}
main.content article .text-clanek li {
  padding-left: 10px;
}
main.content article .text-clanek p {
  flex: 1;
}
main.content article .text-clanek .text-clanek h2,
main.content article .text-clanek .text-clanek h3,
main.content article .text-clanek .text-clanek h4 {
  padding-top: 10px;
  padding-bottom: 5px;
}
main.content article .text-clanek a {
  background-color: #95a5a6;
  padding: 1px 4px;
  border-radius: 5px;
  box-sizing: border-box;
  color: #000;
  text-decoration: none;
}
main.content article .text-clanek a.read-more {
  display: inline-block;
  border-radius: initial;
  padding: initial;
  background: #95a5a6;
  font-size: 0.75rem;
  vertical-align: middle;
  text-align: center;
  width: 70px;
  height: 20px;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
}
main.content article .text-clanek a:hover,
main.content article .text-clanek a.read-more:hover {
  background-color: #2c3e50;
  color: #ecf0f1;
}
main.content article .article-thumbnail-container > a:first-of-type {
  margin-right: 10px;
  max-width: 160px;
  display: block;
}
main.content
  article
  .article-thumbnail-container
  .galerie-clanek
  > img:first-child {
  margin-right: 10px;
}
main.content article .galerie-clanek img {
  margin-bottom: 10px;
  box-shadow: 1px 8px 0px -4px #7f8c8d;
  display: block;
  max-width: 160px;
  max-height: 160px;
}
main.content article .mini {
  width: 160px;
}
main.content article .mini > .gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main.content article .mini img {
  width: 75px;
  height: 75px;
  margin-bottom: 10px;
}
main.content article.full-clanek {
  height: auto;
  max-height: 100%;
}
main.content article.full-clanek header > h1 {
  white-space: normal;
}
main.content article.full-clanek .text-clanek h1,
main.content article.full-clanek .text-clanek h2,
main.content article.full-clanek .text-clanek h3 {
  margin-top: 20px;
  margin-bottom: 5px;
}
main.content article.full-clanek .text-clanek h1 {
  font-size: 1.5rem;
}
main.content article.full-clanek .text-clanek h2 {
  font-size: 1.25rem;
}
main.content article.full-clanek .text-clanek h3 {
  font-size: 1.15rem;
}
main.content article.full-clanek .text-clanek p {
  margin-bottom: 10px;
  line-height: 1.2rem;
}
main.content article.full-clanek .text-clanek p:last-child {
  margin-bottom: 0;
}
main.content article.full-clanek .text-clanek li {
  line-height: 1.2rem;
}
@media only screen and (max-width: 720px) {
  main.content article,
  main.content article.format-height-160 {
    max-height: 100%;
  }
  main.content article header {
    clear: left;
  }
  main.content article .text-clanek-height-160 {
    height: auto;
  }
  main.content article .article-thumbnail-container {
    display: none;
  }
  main.content article .galerie-clanek .mini {
    width: auto;
    margin: 10px 0;
  }
  main.content article .galerie-clanek .mini > .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  main.content article .galerie-clanek .mini img {
    margin: 3px;
  }
  main.content article img.wp-post-image {
    display: none;
  }
  main.content article.full-clanek {
    flex-direction: column-reverse;
  }
  main.content article.full-clanek .article-thumbnail-container {
    display: initial;
  }
}
main.content article.galerie {
  height: 85px;
}
main.content article.galerie img {
  width: 85px;
  height: 85px;
}
main.content article.galerie header {
  margin-bottom: 10px;
  height: 61px;
  box-shadow: 4px 12px 0px -8px #7f8c8d;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main.content article.galerie .text-clanek {
  display: none;
}
main.content article.galerie .article-thumbnail-container a {
  max-width: 85px;
}
main.content article.full-gallery {
  height: auto;
  overflow: visible;
}
main.content article.full-gallery .article-header-container {
  display: flex;
}
main.content article.full-gallery .article-header-container > img {
  margin-right: 10px;
}
main.content article.full-gallery header {
  height: 95px;
  box-shadow: 4px 12px 0px -8px #7f8c8d;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
main.content article.full-gallery img {
  height: 95px;
  width: 95px;
  box-shadow: 1px 8px 0 -4px #7f8c8d;
}
main.content article.full-gallery .text-clanek {
  display: block;
  margin: -10px 5px 10px 10px;
  box-shadow: none;
}
main.content article.full-gallery .content-gallery .gallery img {
  margin-bottom: 10px;
  clear: none;
  float: left;
  margin: auto 5px 10px;
}
@-webkit-keyframes galerie-hover {
  from {
    opacity: 1;
    filter: alpha(opacity=100);
    box-shadow: 0px 4px #bdc3c7;
  }
  to {
    opacity: 0.5;
    filter: alpha(opacity=50);
    box-shadow: 4px 4px gray;
  }
}
@keyframes galerie-hover {
  from {
    opacity: 1;
    filter: alpha(opacity=100);
    box-shadow: 0px 4px #bdc3c7;
  }
  to {
    opacity: 0.5;
    filter: alpha(opacity=50);
    box-shadow: 4px 4px gray;
  }
}
main.content article.full-gallery .content-gallery .gallery img:hover,
main.content article.full-gallery .content-gallery .gallery img:focus,
main.content article .mini img:hover,
main.content article.upozorneni img.attachment-thumbnail:hover {
  -webkit-animation-name: galerie-hover;
  animation-name: galerie-hover;
  -webkit-animation-duration: 0.2s;
  animation-duration: 0.2s;
  opacity: 0.5;
  filter: alpha(opacity=50);
  box-shadow: 4px 4px #7f8c8d;
}
.gallery dl {
  list-style: none url();
}
.gallery dd {
  display: none;
}
main.content article.upozorneni {
  height: auto;
  max-height: 100%;
}
main.content article.upozorneni img.attachment-thumbnail {
  margin: 5px;
}
main.content article.upozorneni header {
  min-height: 45px;
  background-color: #e67e22;
  position: relative;
}
main.content article.upozorneni header h1 {
  white-space: normal;
}
main.content article.upozorneni header img {
  width: 65px;
  height: 65px;
}
main.content article.upozorneni header .aside-header-container {
  margin-left: 65px;
}
main.content article.upozorneni header .aside-header-img-container {
  display: flex;
  background-color: #c1392d;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 65px;
}
main.content article.upozorneni .text-clanek {
  padding: 10px 15px 5px;
  overflow: visible;
  flex-direction: column;
}
main.content article.upozorneni .text-clanek p {
  margin: 7px 0;
}
main.content section.logolink-gen {
  height: 120px;
  margin-bottom: 7px;
}
main.content section.logolink-big {
  background: #fff url(../img/proj/logolink_o.jpg) center center no-repeat;
  background-size: auto 120px;
}
main.content section.logolink-Visegrad {
  background: #fff url(../img/proj/visegrad_fund_logo_blue_290px.png) center
    center no-repeat;
  background-size: auto 120px;
}
main.content section.logolink-etwinning {
  background: #fff url(../img/proj/etwinning.svg) center center no-repeat;
  background-size: auto 105px;
}
main.content section.logolink-cez {
  background: #fff url(../img/proj/logo_cez.png) center center no-repeat;
  background-size: auto 120px;
}
@media only screen and (max-width: 720px) {
  main.content section.logolink-gen {
    min-width: auto;
  }
}
.pdf-js {
  height: 830px;
}
main.content article .text-clanek a.pdf-js-label {
  background-color: #3f3f3f;
  color: #fff;
  border-radius: 0;
  width: 100%;
  text-align: center;
  padding: 5px 0;
  margin: 0;
  left: 0;
  display: flex;
  justify-content: center;
}
main.content article .text-clanek a.pdf-js-label + br {
  display: none;
}
main.content article.search img {
  display: none;
}
main.content article.search header {
  display: flex;
  position: relative;
  padding: 5px 10px;
  height: 35px;
}
main.content article.search header h1 {
  font-size: 1.25rem;
  float: left;
  max-width: 325px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
main.content article.search header h2 {
  float: right;
}
main.content article.search header .search-header-container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 45px;
}
main.content article.search header .search-header-div-container {
  position: absolute;
  display: flex;
  height: 100%;
  top: 0;
  left: 0;
}
main.content article.search .text-clanek {
  padding: 10px;
  height: auto;
}
main.content article.search .search-count {
  background-color: #2c3e50;
  display: block;
  float: left;
  min-width: 45px;
  line-height: 45px;
  font-size: 1.25rem;
  text-align: center;
  font-family: "Open Sans", Serif;
  font-weight: 300;
  color: #fff;
}
.attachments {
  background-color: #95a5a6;
  font-size: medium;
  font-weight: 300;
  width: 615px;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 5px;
  padding: 10px 15px;
  box-sizing: border-box;
}
.attachments.attachments-upper {
  box-shadow: 0px 4px rgba(0, 0, 0, 0.3) inset;
  margin-bottom: -5px;
}
.attachments.attachments-upper.blue {
  background-color: #3498db;
}
.attachments.attachments-upper.green {
  background-color: #2ecc71;
}
.attachments.attachments-upper.red {
  background-color: #e64937;
}
.attachments a {
  color: #000;
}
.attachments #wpba_attachment_list {
  width: 100%;
}
.attachments #wpba_attachment_list ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.attachments #wpba_attachment_list ul > li {
  padding: 7px 0px;
  margin-bottom: 0px;
  margin-right: 20px;
  display: block;
}
.attachments #wpba_attachment_list ul > li .wpba-icon {
  margin-right: 0;
  height: 20px;
  width: auto;
  padding: 3px 0;
}
.attachments #wpba_attachment_list ul > li .wpba-link {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex: 1;
  padding: initial;
  background-color: initial;
  border-radius: initial;
  margin-left: 10px;
  padding: 3px 0;
  text-decoration: none;
  max-width: 550px;
}
.attachments #wpba_attachment_list ul > li .wpba-link:hover {
  background-color: initial;
  color: initial;
  text-decoration: underline;
}
@media only screen and (max-width: 959px) {
  .attachments {
    width: auto;
  }
}
.text-clanek.page-docs.main-zs #wpba_attachment_list,
.full-clanek .main-zs + .attachments {
  background-color: #2ecc71;
}
.text-clanek.page-docs.main-ms #wpba_attachment_list,
.full-clanek .main-ms + .attachments {
  background-color: #e64937;
}
.text-clanek.page-docs.main-sd #wpba_attachment_list,
.full-clanek .main-sd + .attachments {
  background-color: #f1c40f;
}
.text-clanek.page-docs.main-skola #wpba_attachment_list,
.full-clanek .main-skola + .attachments {
  background-color: #3498db;
}
main.content #nenalezeno {
  text-align: center;
  font-size: large;
  padding: 10px;
}
.task-published {
  background-color: #2c3e50;
  padding: 10px;
  margin: 10px 0;
  text-align: center;
  color: #ecf0f1;
  box-shadow: 2px 15px 0px -10px #95a5a6;
}
.task-published:first-of-type {
  margin-top: 0;
}
.task-published > p {
  text-align: center;
  font-size: medium;
  font-weight: 300;
}
main.content {
  width: 100%;
  max-width: 630px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 959px) {
  main.content {
    max-width: 100%;
    box-sizing: border-box;
  }
}
footer {
  display: flex;
  flex-direction: column;
  padding: 0;
  background-color: #2c3e50;
  color: #fff;
  box-shadow: 0px 12px 20px 0px rgba(0, 0, 0, 0.2) inset;
  width: 960px;
  max-width: 100%;
  font-size: 0.7rem;
}
footer h3 {
  font-size: 0.7rem;
}
footer li {
  list-style: none url();
  margin: 0;
}
footer a {
  text-decoration: none;
  color: inherit;
}
footer a:hover {
  text-decoration: underline;
}
footer > div {
  margin: 20px 30px;
  text-align: left;
}
footer .horni section {
  background-color: #fff;
  margin: 10px;
  height: 125px;
  width: 260px;
  padding: 10px;
  box-shadow: 4px 12px 0px -8px rgba(0, 0, 0, 0.2);
}
footer .horni section p {
  color: #000;
  font-size: small;
  margin: 5px;
}
footer .horni section a {
  height: 100%;
}
footer .horni section .image {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}
footer .horni section img {
  max-width: 100%;
  max-height: 100%;
}
footer .horni .ft-flex-horni-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
footer .stredni .flex-cont .flex-item {
  display: flex;
  padding: 0 5px 10px 0;
  flex-wrap: wrap;
}
footer .stredni .flex-cont .flex-item > li,
footer .stredni .flex-cont .flex-item > a {
  margin-right: 10px;
}
footer .spodni {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
footer .spodni .right {
  flex-direction: column;
  display: flex;
  align-items: end;
}
.sidebar .searching {
  width: 290px;
  margin: -10px 0 -10px -10px;
  padding: 0;
  box-sizing: border-box;
  height: 35px;
}
.sidebar .searching .search-form {
  box-sizing: border-box;
}
.sidebar .searching .search-form label {
  display: flex;
  justify-content: space-between;
}
.sidebar .searching span {
  display: none;
}
.sidebar .searching #submit-button {
  background-image: url(../img/lupa1.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #95a5a6;
  color: rgba(0, 0, 0, 0);
  width: 35px;
  height: 35px;
  cursor: pointer;
}
.sidebar .searching #submit-button:hover {
  background-color: #2c3e50;
  background-image: url(../img/lupa_hover.png);
}
.sidebar .searching #searchform {
  background-color: #ecf0f1;
  border: none;
  height: 35px;
  padding: 10px 10px 10px 10px;
  flex-grow: 1;
  border-radius: 0;
}
@media only screen and (max-width: 959px) {
  .sidebar .searching {
    width: 100%;
    margin: 0;
  }
  .sidebar .searching .search-form label {
    background-color: #95a5a6;
    margin: -10px -10px 0 -10px;
    height: 45px;
  }
  .sidebar .searching #submit-button {
    width: 45px;
    height: 45px;
  }
  .sidebar .searching #searchform {
    height: auto;
  }
}
.sidebar {
  width: 290px;
  background-color: #bdc3c7;
  padding: 0 10px 0 10px;
  z-index: 0;
}
.sidebar section {
  background-color: #95a5a6;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 4px 12px 0px -8px #7f8c8d;
}
.sidebar section.menu-postranni-lista-mapa-container {
  background: none;
  padding: 0px 0;
  box-shadow: none;
  width: 290px;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: start;
  justify-content: center;
  align-content: center;
}
.sidebar section.menu-postranni-lista-mapa-container img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  width: 290px;
}
.sidebar section.menu-postranni-lista-mapa-container a {
  order: 1;
  z-index: 2;
}
.sidebar section.menu-postranni-lista-mapa-container iframe {
  order: 2;
  margin-top: -20px;
  z-index: 0;
  box-shadow: 4px 12px 0px -8px #7f8c8d;
}
.sidebar section ul {
  list-style: none url();
}
.sidebar .menu-postranni-lista-menu-container a {
  color: inherit;
  display: block;
  height: 20px;
  line-height: 20px;
  margin-bottom: 5px;
  padding: 5px 10px 5px 15px;
  background-color: #bdc3c7;
  box-shadow: 0px 4px 0px #7f8c8d, 2px 2px 0px 2px gray;
  text-decoration: none;
  text-align: center;
}
.sidebar .menu-postranni-lista-menu-container li:first-child a:hover {
  background-color: #bdc3c7;
  margin-top: 4px;
  box-shadow: 4px 0px 0 0px #bdc3c7;
  margin-bottom: 1px;
  margin-left: 4px;
}
.sidebar .menu-postranni-lista-menu-container li a:hover,
.sidebar .menu-postranni-lista-menu-container li.second-child a:hover {
  background-color: #bdc3c7;
  margin-top: 9px;
  box-shadow: 4px 0px 0 0px #bdc3c7;
  margin-bottom: 1px;
  margin-left: 4px;
}
@media only screen and (max-width: 959px) {
  .sidebar {
    clear: both;
    float: none;
    padding-top: 10px;
    margin: 0 10px 10px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sidebar section {
    width: 95%;
  }
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #95a5a6;
  background: url(../img/background_cover.png) repeat;
  background-position: 0px 300px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: small;
}
p {
  text-align: justify;
}
.baner {
  background: url(../img/t_skola_4_small_optimized.jpg) center no-repeat;
  background-size: 100%;
  height: 270px;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-skola {
  margin-left: -25%;
  margin-top: 25px;
}
.body-content-container {
  width: 960px;
  max-width: 100%;
  background-color: #ecf0f1;
  box-shadow: 0px 0px 10px 14px rgba(127, 140, 141, 0.5);
}
.body-content-with-navbar-container {
  width: inherit;
  max-width: 100%;
  display: flex;
}
.nav-line {
  position: relative;
  background-color: #95a5a6;
  padding: 7px 10px 5px;
  box-shadow: 0px 4px #7f8c8d, 0px 4px rgba(0, 0, 0, 0.3) inset;
}
.nav-line.purple {
  background-color: #9b59b6;
  color: #ecf0f1;
}
.nav-line.purple h1,
.nav-line.purple a {
  color: #ecf0f1;
}
.nav-line h1,
.nav-line a {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: #000;
}
@media only screen and (max-width: 959px) {
  .body-content-with-navbar-container {
    flex-direction: column;
  }
}
@media only screen and (max-width: 800px) {
  .baner {
    height: auto;
    display: flex;
  }
  .baner > a {
    flex-shrink: 2;
    display: flex;
  }
  .logo-skola {
    margin: 0 0;
    padding: 20px 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}
blockquote {
  padding: 0px 0px 10px 15px;
  font-family: serif;
  font-size: 1rem;
  font-style: italic;
}
.lazy-load {
  background-color: #bdc3c7;
}
.lazy-load::before {
  display: none;
} /*# sourceMappingURL=style.css.map */
