/*VÝPIS ČLÁNKŮ - zobrazení typů jednotlivých článků*/
/*1. Standardní článek - default settings*/
main.content article {
    margin: 10px 0 0 0;
    max-height: 160px;
    overflow: hidden;
    display: flex;

    &:first-of-type {
        margin: 0;
    }

    &.format-height-160 {
        // max-height: 160px;
        // overflow: hidden;
    }

    img {
        float: left;
        width: 160px;
        height: 160px;
        margin-right: 10px;
    }

    .article-content-container {
        flex: 1;
        min-width: 0;
        display: flex;
        flex-direction: column;
    }

    // HEADER
    header {
        padding: 10px;
        background-color: $concrete;

        h1 {
            font-size: 25px;
            font-family: "Slabo 27px", serif;
            @include ellipsis;
        }

        h2 {
            font-size: 12px;
            font-family: "Trebuchet MS", "Lucida Sans Unicode", sans-serif; //@todo Trebuchet? Fakt jako? Open sans!
            font-weight: 400;
            white-space: nowrap;
        }

        // @todo promyslet, jak to funguje? nejde sloučit? h1 a h2?
        h1 a {
            text-decoration: none;
            color: inherit;

            &:hover {
                text-decoration: underline;
            }
        }

        h2 a {
            color: inherit;

            &:hover {
                color: inherit;
                text-decoration: none;
            }
        }

        // @todo na který se váže co? inline-block?
        ul,
        li {
            list-style: none url();
            display: inline-block;
        }

        // BARVY
        &.main-zs {
            background-color: $green;
        }

        &.main-ms {
            background-color: $red;
        }

        &.main-sd {
            background-color: $orange;
            color: $black;
            text-shadow: none;
        }

        &.main-skola {
            background-color: $blue;
        }
    }

    //TEXT ČLÁNKU / PEREX
    // @todo dořešit typografii!
    // @todo dořešit pdfko!
    .text-clanek {
        padding: 10px 15px 10px;
        background-color: $silver;
        box-shadow: 0px 4px $asbestos inset;
        margin-left: 10px;
        margin-right: 5px;

        box-sizing: border-box;
        flex: 1;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;

        &.text-clanek-height-160 {
            height: 85px;
        }

        ol,
        ul {
            margin: 5px 0 5px 40px;
        }

        li {
            padding-left: 10px;
        }

        p {
            flex: 1;
        }

        .text-clanek h2,
        .text-clanek h3,
        .text-clanek h4 {
            padding-top: 10px;
            padding-bottom: 5px;
        }

        // LINKS TODO
        a {
            &.read-more {
                display: inline-block;
                background: $concrete;
                font-size: 90%;
                vertical-align: middle;
                text-align: center;
                width: 70px;
                height: 20px;
                line-height: 20px;
                text-decoration: none;
                color: inherit;
            }

            &:not(.read-more) {
                background-color: $concrete;
                display: inline-block;
                padding: 3px 6px;
                border-radius: 5px;
                box-sizing: border-box;
                max-width: 100%;
                color: $black;
                @include ellipsis;
            }

            &:hover,
            &.read-more:hover {
                background-color: $navy-dark;
                color: $clouds-white;
            }
        }
    }

    .galerie-clanek {
        img {
            margin-bottom: 10px;
            box-shadow: 1px 8px 0px -4px $asbestos;
        }
    }

    .mini {
        clear: left;

        img {
            padding: 0;
            width: 75px;
            height: 75px;
            margin-bottom: 10px;
        }
    }

    &.full-clanek {
        height: auto;
        max-height: 100%;

        header>h1 {
            white-space: normal;
        }

        .text-clanek {
            flex: 0;

            p {
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 720px) {
    main.content {

        article,
        article.format-height-160 {
            max-height: 100%;
            // margin-right: 10px;
        }

        article {
            header {
                clear: left;
            }

            .text-clanek-height-160 {
                height: auto;
            }

            .galerie-clanek {
                float: none;
                display: inline;
            }

            img.wp-post-image {
                display: none;
            }
        }
    }
}