.task-published {
    background-color: $navy-dark;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    color: $clouds-white;
    box-shadow: 2px 15px 0px -10px $concrete;

    &:first-of-type {
        margin-top: 0;
    }

    &>p {
        text-align: center;
        font-size: medium;
        font-weight: 300;
    }
}