.pdf-js {
    height: 830px;
}

main.content article .text-clanek a.pdf-js-label {
    background-color: #3f3f3f;
    color: white;
    border-radius: 0;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    margin: 0;
    left: 0;
    display: flex;
    justify-content: center;

    &+br {
        display: none;
    }
}