@font-face {
    font-family: "Slabo 27px";
    font-weight: 400;
    font-style: normal;
    src: url(../assets/Slabo27px-Regular.ttf);
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: url(../assets/OpenSans-Light.ttf);
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../assets/OpenSans-Regular.ttf);
}