/* CSS Document */

@use 'header';
@use 'fonts';
@use 'reset';
@import 'colors';
@import 'main-menu';
@import 'secondary_menu';
@import 'footer';
// @import 'sidebar/search';
@import 'sidebar/sidebar';

// DIMENSIONS
$desktop-width: 960px;
// $tablet-width: ;
// $mobile-width: ;


body {
    background-color: $concrete;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: small;
    background: url(../img/background_cover.png) repeat;
    background-position: 0px 300px;
}

p {
    text-align: justify;
}

/* nav */
.baner {
    background: url(../img/t_skola_4_small_optimized.jpg) center no-repeat;
    background-size: 100%;
    height: 270px;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-skola {
    margin-left: -25%;
    margin-top: 25px;
}

/* hlavní část */
.telo {
    width: 100%;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    background-color: $clouds-white;
    box-shadow: 0px 0px 10px 14px rgba(127, 140, 141, 0.5); // průhledný asbestos
}

/* Spodní navigační proužek (stránkovací) */
nav.next-previous-posts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0 10px;

    background-color: $navy-dark;

    &>* {
        font-size: medium;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;

        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ecf0f1;
        text-decoration: none;
    }

    a:hover {
        color: $clouds-white;
        background-color: $navy-light;
        text-decoration: underline;
    }

    span.current {
        color: $navy-light;
        background-color: $clouds-white;
    }
}

/* START ČLÁNEK - PŘÍLOHY */
/* @todo rewrite */
.page-docs a.wpba-link {
    text-decoration: none;
    color: $black;
}

.page-docs a.wpba-link:hover {
    text-decoration: underline;
}

#wpba_attachment_list {
    display: block;
    width: 100%;
    float: none;
    margin: -10px 0px 10px -15px;
    padding: 4px 15px 0px !important;
    overflow: visible;
    font-size: medium;
    font-weight: 300;
}

#wpba_attachment_list {
    box-shadow: 0px 4px rgba(0, 0, 0, 0.3) inset;
    background-color: $blue-light;
}

main article .text-clanek ul.wpba-attachment-list {
    display: inline-block;
    margin-bottom: 0;
}

main article ul.wpba-attachment-list li {
    padding: 7px 0px;
    margin-bottom: 0px;
    margin-left: 10px;
}

ul.wpba-attachment-list li img,
.attachment ul.wpba-attachment-list li img {
    height: 20px;
    width: auto;
}

/*SPECIÁL: upozornění*/
.text-clanek.page-docs .attachment #wpba_attachment_list {
    background-color: $concrete;
    margin: 15px 0px -5px -15px;
    box-shadow: unset;
}

// PŘÍLOHY - BARVY
.text-clanek.page-docs.main-zs #wpba_attachment_list {
    background-color: $green-light;
}

.text-clanek.page-docs.main-ms #wpba_attachment_list {
    background-color: $red-light;
}

.text-clanek.page-docs.main-sd #wpba_attachment_list {
    background-color: $orange-light;
}

.text-clanek.page-docs.main-skola #wpba_attachment_list {
    background-color: $blue-light;
}

/* END ČLÁNEK - PŘÍLOHY */

/* příspěvky */
main {
    width: 100%;
    max-width: 640px;
    margin-bottom: 10px;
    float: left;
}

main #nenalezeno {
    text-align: center;
    font-size: large;
    padding: 10px;
}

/* MENU SPECIAL ELM - EXPERIMENTAL*/
/* nav.main-menu ul.top-menu li:hover ul:after {
	content: " ";
	height: 100%;
	width: 100%;
	position: fixed;
	background-color: #0000006b;
	top: 0;
	left: 0;
	z-index: -3;
} */

/*VÝPIS ČLÁNKŮ - zobrazení typů jednotlivých článků*/
/*1. Standardní článek - default settings*/
main article {
    margin: 10px 0 0 10px;
    max-height: 160px;
    overflow: hidden;
}

main article.format-height-160 {
    max-height: 160px;
    overflow: hidden;
}

main article img {
    float: left;
    width: 160px;
    height: 160px;
    margin-right: 10px;
}

main article header {
    overflow: hidden;
    padding: 10px;
    background-color: $concrete;

    // BARVY
    &.main-zs {
        background-color: $green;
    }

    &.main-ms {
        background-color: $red;
    }

    &.main-sd {
        background-color: $orange;
        color: $black;
        text-shadow: none;
    }

    &.main-skola {
        background-color: $blue;
    }
}

/*Formátování textu článků*/
main article .text-clanek {
    padding: 10px 15px 10px;
    background-color: $silver;
    overflow: hidden;
    box-shadow: 0px 4px $asbestos inset;
    margin-left: 10px;
    margin-right: 5px;
}

main article .text-clanek-height-160 {
    height: 85px;
}

main article .text-clanek ol {
    padding-left: 20px;
    padding-top: 10px;
}

main article .text-clanek li {
    padding-left: 10px;
    margin-left: 20px;
}

main article .text-clanek ul,
main article.full-clanek .text-clanek p {
    margin-bottom: 10px;
}

main article.full-clanek .text-clanek p:last-child {
    margin-bottom: 0;
}

main article .text-clanek a.read-more {
    display: inline-block;
    background: $concrete;
    font-size: 90%;
    vertical-align: middle;
    text-align: center;
    width: 70px;
    height: 20px;
    line-height: 20px;
    text-decoration: none;
    color: inherit;
}

main article .text-clanek a:not(.read-more) {
    background-color: $concrete;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    padding: 3px 6px;
    border-radius: 5px;
    box-sizing: border-box;
    max-width: 100%;
    color: $black;
}

main article .text-clanek a:hover,
main article .text-clanek a.read-more:hover {
    background-color: $navy-dark;
    color: $clouds-white;
}

main article .text-clanek h2,
main article .text-clanek h3,
main article .text-clanek h4 {
    padding-top: 10px;
    padding-bottom: 5px;
}

main article header h1 a {
    text-decoration: none;
    color: inherit;
}

main article header h1 a:hover {
    text-decoration: underline;
}

main article header h2 a {
    color: inherit;
}

main article header h2 a:hover {
    color: inherit;
    text-decoration: none;
}

main article header ul,
main article header li {
    list-style: none url();
    display: inline-block;
}

main article header h1 {
    font-size: 25px;
    font-family: "Slabo 27px", serif;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

main article header h2 {
    font-size: 12px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", sans-serif;
    font-weight: 400;
    white-space: nowrap;
}

/*2. Upozornění*/
main article.upozorneni {
    height: auto;
    max-height: 100%;
}

main article.upozorneni img {
    width: 65px;
    height: 65px;
    margin-right: 0;
}

main article.upozorneni img.attachment-thumbnail {
    margin: 5px;
}

main article.upozorneni header {
    height: 45px;
    background-color: $warning-light;
}

main article.upozorneni .text-clanek {
    padding: 10px 15px 5px;
    overflow: visible;
}

main article.upozorneni .text-clanek p {
    margin: 7px 0;
}

/*3. Galerie*/
main article.galerie {
    height: 85px;
}

main article.galerie img {
    width: 85px;
    height: 85px;
}

main article.galerie header {
    margin-bottom: 10px;
    height: 61px;
    box-shadow: 4px 12px 0px -8px $asbestos;
}

main article.galerie .text-clanek {
    display: none;
}

main article.galerie header h1 {
    padding-top: 7px;
}

/*SINGLE soubory pro jednotlivý tpy příspěvků*/
/*1. Galerie*/
main article.full-gallery {
    height: auto;
    overflow: visible;
}

main article.full-gallery header {
    height: 75px;
    padding-top: 15px;
    padding-bottom: 5px;
    box-shadow: 4px 12px 0px -8px $asbestos;
}

main article.full-gallery.page-full-gallery header {
    height: 65px;
    clear: both;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: none;
}

main article.full-gallery img {
    height: 95px;
    width: 95px;
    box-shadow: 1px 8px 0 -4px $asbestos;
}

main article.full-gallery .text-clanek {
    display: block;
    margin: -10px 5px 10px 10px;
    box-shadow: none;
}

main article.page-full-gallery .text-clanek {
    box-shadow: 0 4px $concrete inset;
}

/*1a. ZOBRAZENÍ GALERIE*/
main article.full-gallery.content-gallery {
    display: inline-block;
    width: 630px;
    margin-bottom: 10px;
}

main article.full-gallery.content-gallery .gallery {
    margin: 0 auto;
    width: 630px;
}

main article.full-gallery.content-gallery .gallery img {
    margin: 0;
}

@-webkit-keyframes galerie-hover {
    from {
        opacity: 1;
        filter: alpha(opacity=100);
        box-shadow: 0px 4px $silver;
    }

    to {
        opacity: 0.5;
        filter: alpha(opacity=50);
        box-shadow: 4px 4px $grey;
    }
}

@keyframes galerie-hover {
    from {
        opacity: 1;
        filter: alpha(opacity=100);
        box-shadow: 0px 4px $silver;
    }

    to {
        opacity: 0.5;
        filter: alpha(opacity=50);
        box-shadow: 4px 4px $grey;
    }
}

main article.full-gallery .content-gallery .gallery img:hover,
main article.full-gallery .content-gallery .gallery img:focus,
main article .mini img:hover,
main article.upozorneni img.attachment-thumbnail:hover {
    -webkit-animation-name: galerie-hover;
    animation-name: galerie-hover;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    opacity: 0.5;
    filter: alpha(opacity=50);
    box-shadow: 4px 4px $asbestos;
}

.gallery dl {
    list-style: none url();
}

.gallery dd {
    display: none;
}

main article.full-gallery .content-gallery .gallery img {
    margin-bottom: 10px;
    clear: none;
    float: left;
    margin: auto 5px 10px;
}

/*Projekty - logolink na stránkách*/
main section.logolink-gen {
    min-width: 650px;
    height: 120px;
}

main section.logolink-big {
    background: $white url(../img/proj/logolink_o.jpg) center center no-repeat;
    background-size: auto 120px;
}

main section.logolink-Visegrad {
    background: $white url(../img/proj/visegrad_fund_logo_blue_290px.png) center center no-repeat;
    background-size: auto 120px;
}

main section.logolink-etwinning {
    background: $white url(../img/proj/etwinning.svg) center center no-repeat;
    background-size: auto 105px;
}

main section.logolink-cez {
    background: $white url(../img/proj/logo_cez.png) center center no-repeat;
    background-size: auto 120px;
}

/*Full-článek*/
main article.full-clanek {
    height: auto;
    max-height: 100%;
}

main article .galerie-clanek {
    float: left;
    width: 170px;
}

main article .galerie-clanek img {
    margin-bottom: 10px;
    box-shadow: 1px 8px 0px -4px $asbestos;
}

main article .mini {
    clear: left;
}

main article .mini img {
    padding: 0;
    width: 75px;
    height: 75px;
    margin-bottom: 10px;
}

/*Výpis článků ve vyhledávání*/
main article.search img {
    display: none;
}

main article.search header {
    padding: 5px 10px;
    line-height: 35px;
}

main article.search header h1 {
    font-size: 20px;
    float: left;
    max-width: 325px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

main article.search header h2 {
    float: right;
}

main article.search .text-clanek {
    padding: 10px;
    height: auto;
}

main article.search .search-count {
    background-color: $navy-dark;
    display: block;
    float: left;
    min-width: 45px;
    line-height: 45px;
    font-size: 20px;
    text-align: center;
    font-family: "Open Sans", Serif;
    font-weight: 300;
    color: $white;
}

/* -- Nenalezeno -- */
article #nenalezeno {
    background-color: $navy-dark;
    display: block;
    line-height: 45px;
    padding: 10px;
    font-size: 27px;
    font-family: "Open Sans", serif;
    text-align: center;
    color: #fff;
    font-weight: 300;
}

/*KONEC - ČLÁNKY*/
@-webkit-keyframes animation {
    0% {
        top: -25px;
        height: 0;
    }

    100% {
        top: 0px;
        height: 25px;
    }
}

@keyframes animation {
    0% {
        top: -25px;
        height: 0;
    }

    100% {
        top: 0px;
        height: 25px;
    }
}

#nav-line {
    position: relative;
    background-color: $purple-light;
    padding: 5px 10px;
    -webkit-animation-name: animation;
    animation-name: animation;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

#nav-line h1 {
    font-size: large;
    line-height: 25px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    -webkit-animation-name: animation;
    animation-name: animation;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@media only screen and (max-width: 959px) {
    main {
        max-width: 100%;
    }

    main article {
        margin-right: 10px;
    }

    .task-published {
        margin-right: 10px;
    }
}

/*při 800px dochází k drobným změnám v logu školy*/
@media only screen and (max-width: 800px) {
    .baner {
        height: auto;
        display: flex;
    }

    .baner>a {
        flex-shrink: 2;
        display: flex;
    }

    .logo-skola {
        margin: 0 0;
        padding: 20px 10px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
}

/*Při 720px zmizí malá fotogalerie dole a nadbytečné obrázky*/
/* TABLET LAYOUT */
@media only screen and (max-width: 720px) {

    main article.galerie img.wp-post-image,
    main article.prispevek img.wp-post-image {
        display: none;
    }

    main article,
    main article.format-height-160 {
        max-height: 100%;
        margin-right: 10px;
    }

    main article .text-clanek-height-160 {
        height: auto;
    }

    main article .galerie-clanek {
        float: none;
        display: inline;
    }

    main article header {
        clear: left;
    }

    main article.search header,
    main article.upozorneni header {
        clear: none;
    }

    footer .pravy iframe {
        margin-left: 5px;
    }

    nav.menu-docs {
        background-color: $blue-light;
        z-index: -3;
        clear: both;
    }

    nav.menu-docs li {
        min-width: 12%;
        text-align: left;
        display: list-item;
        list-style: none url();
        float: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    main section.logolink-gen {
        min-width: auto;
    }
}

blockquote {
    padding: 0px 0px 10px 15px;
    font-family: serif;
    font-size: 15px;
    font-style: italic;
}

.task-published {
    background-color: $navy-dark;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: center;
    color: $clouds-white;
    box-shadow: 0px 4px 0px $concrete;
}

.task-published>p {
    text-align: center;
    font-size: medium;
    font-weight: 300;
}

/* LAZY LOADING */
.lazy-load {
    background-color: $silver;
}

.lazy-load::before {
    display: none;
}