/* CSS Document */

@use 'header';
@use 'fonts';
@use 'reset';
@import 'colors';
@import 'vars';
@import 'main-menu';
@import 'secondary_menu';
@import 'content/main';
@import 'footer';
@import 'sidebar/sidebar';

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: $concrete;
    background: url(../img/background_cover.png) repeat;
    background-position: 0px 300px;

    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: small;
}

p {
    text-align: justify;
}

/* nav */
.baner {
    background: url(../img/t_skola_4_small_optimized.jpg) center no-repeat;
    background-size: 100%;
    height: 270px;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-skola {
    margin-left: -25%;
    margin-top: 25px;
}

/* hlavní část */
.body-content-container {
    width: $width-desktop;
    max-width: 100%;
    background-color: $clouds-white;
    box-shadow: 0px 0px 10px 14px rgba(127, 140, 141, 0.5);
    display: flex;
}

.body-content-with-navbar-container {
    width: 650px;
    max-width: 100%;
}

@-webkit-keyframes animation {
    0% {
        top: -25px;
        height: 0;
    }

    100% {
        top: 0px;
        height: 25px;
    }
}

@keyframes animation {
    0% {
        top: -25px;
        height: 0;
    }

    100% {
        top: 0px;
        height: 25px;
    }
}

#nav-line {
    position: relative;
    background-color: $purple-light;
    padding: 5px 10px;
    -webkit-animation-name: animation;
    animation-name: animation;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

#nav-line h1 {
    font-size: large;
    line-height: 25px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    -webkit-animation-name: animation;
    animation-name: animation;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

// Šlo by nahradit za min size -> tabletový (možná ne...)

@media only screen and (max-width: 959px) {

    .body-content-container {
        flex-direction: column;
        box-sizing: border-box;
    }

    .body-content-with-navbar-container {
        width: auto;
    }

}

/*při 800px dochází k drobným změnám v logu školy*/
@media only screen and (max-width: 800px) {
    .baner {
        height: auto;
        display: flex;
    }

    .baner>a {
        flex-shrink: 2;
        display: flex;
    }

    .logo-skola {
        margin: 0 0;
        padding: 20px 10px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
}

/*Při 720px zmizí malá fotogalerie dole a nadbytečné obrázky*/
/* TABLET LAYOUT */
@media only screen and (max-width: 720px) {
    footer .pravy iframe {
        margin-left: 5px;
    }

    nav.menu-docs {
        background-color: $blue-light;
        z-index: -3;
        clear: both;
    }

    nav.menu-docs li {
        min-width: 12%;
        text-align: left;
        display: list-item;
        list-style: none url();
        float: none;
        @include ellipsis;
    }
}

blockquote {
    padding: 0px 0px 10px 15px;
    font-family: serif;
    font-size: 15px;
    font-style: italic;
}

.task-published {
    background-color: $navy-dark;
    padding: 10px;
    margin: 10px 0;
    text-align: center;
    color: $clouds-white;
    box-shadow: 0px 4px 0px $concrete;
}

.task-published:first-of-type {
    margin-top: 0;
}

.task-published>p {
    text-align: center;
    font-size: medium;
    font-weight: 300;
}

/* LAZY LOADING */
.lazy-load {
    background-color: $silver;
}

.lazy-load::before {
    display: none;
}